:root {
    --primary-clr: #14BF98;
    --secondary-clr: #ffffff;
    --heading-clr: #484A46;
    --text-clr: #787976;
    --MS-serif: Montserrat, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--MS-serif);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.mb-1 {
    margin-bottom: 1rem;
}

.container {
    margin: 1rem 5rem;
    padding: 5rem 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    background: #113448;
}

.loader div {
    width: 15px;
    height: 15px;
    background-color: var(--primary-clr);
    border-radius: 50%;
    animation: loader-animation 1.2s infinite;
}

.loader div:nth-child(2) {
    animation-delay: 0.2s;
}

.loader div:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loader-animation {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

#main-content {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#main-content.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.hidden {
    display: none;
}

.section-title {
    font-size: 14px;
    color: var(--primary-clr);
    letter-spacing: 1px;
    margin-bottom: .5rem;
}

.no-scroll {
    overflow: hidden;
    /* Disable scrolling */
    height: 100%;
    /* Ensure no height issues */
}

/* #headerSection .sticky {
    transform: translateY(0);
} */

h2,
h3 {
    color: var(--heading-clr);
}

p {
    font-family: 'Montserrat';
    color: var(--text-clr);
    font-size: 15px;
    line-height: 1.5rem;
}

/* ------------ header section -------------*/
#headerSection {
    color: white;
    padding: 10px 20px;
    text-align: center;
    transition: top 0.3s ease;
    background-color: transparent;
    z-index: 1001;
    position: absolute;
    background: rgba(17, 52, 72, 0.31);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(17, 52, 72, 0.31);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 50px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
}

.items>a {
    color: #fff;
    text-decoration: none;
}

.navicon {
    background-color: var(--primary-clr);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    padding: 5px 9px;
    height: 26px;
    width: 29px;
}

.items:hover a {
    color: var(--primary-clr);
}

.items.navicon:hover {
    background: white;
    color: var(--primary-clr);
    cursor: pointer;
}

/* ------------ home section -------------*/

#home-section {
    position: relative;
}

.home-container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(/assets/header-background.jpg) center center no-repeat;
    background-size: cover;
}

.home-content {
    padding: 12em 10em;
    text-align: center;
}

.home-content h1,
h4 {
    color: #fff;
}

.home-content h1 {
    font-size: -webkit-xxx-large;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.home-content h4 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
}

button.btn {
    background: var(--primary-clr);
    color: #fff;
    padding: 15px 30px;
    font-weight: 700;
    border: 1px solid var(--primary-clr);
    margin-top: 15px;
    border-radius: 5px;
}

button.btn:hover {
    background: transparent;
    color: var(--primary-clr);
    cursor: pointer;
}

/* ----------- intro section ------------ */

#intro-section {
    position: relative;
}

.intro-content {
    width: 35vw;
    margin: 0 4rem 4rem 0;
}

.intro-content h2 {
    font-size: 28px;
    margin-bottom: 16px;
    color: var(--heading-clr);
}

.intro-content p {
    margin-bottom: 16px;
    color: var(--text-clr);
}

.intro-container {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.intro-container img {
    transition: all 0.3s;
    border-radius: .25rem;
}

.intro-container img:hover {
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.right-img {
    box-sizing: border-box;
    width: 55vw;
    overflow: hidden;
}

.blocks {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin-top: 60px;
    /* padding: 20px; */
}

.icon {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
    line-height: 6rem;
    text-align: left;
}

.icon-bg {
    background-image: url(assets/hexagon-green.svg);
    position: absolute;
    width: 6rem;
    height: 6rem;
    background-repeat: no-repeat;
}

.icon i {
    transform: translate(130%, 0%);
    font-size: 30px;
    width: 25px;
}

.block-wrap p {
    font-family: 'Montserrat';
    color: var(--text-clr);
    font-size: 15px;
    line-height: 1.25rem;
}

/* services section */

#service-section .head-part {
    margin-bottom: 20px;
    text-align: center;
}

#service-section h2 {
    font-size: 28px;
    margin-bottom: 16px;
    color: var(--heading-clr);
}

#service-section .cardWrapper {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.card {
    max-width: 100%;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    position: relative;
}

h3.card-title {
    margin-bottom: .5rem;
}

.card-image img {
    max-width: 100%;
}

.card-body {
    padding: 40px 30px;
    text-align: center;
}

ul.bullet-list {
    margin-bottom: 15px;
}

li.bullet {
    list-style: none;
    display: inline-flex;
    align-items: center;
}

li.bullet>p {
    margin-left: 10px;
}

span.price {
    color: var(--primary-clr);
    margin-left: 5px;
}

.card-btn {
    position: absolute;
    bottom: -25px;
    right: 33%;

}

.card-btn:hover {
    border: 2px solid #14bf98;
    background-color: #fff !important;
}

/* info-section */

.info-content {
    display: flex;
}

.imgPart img {
    display: flex;
    width: 100%;
    max-width: 625px;
}

.info-content {
    display: flex;
}

.content-part {
    width: 100%;
    max-width: 625px;
}

.accordian {
    width: 30em;
}

/* Accordian headers */
.section-title {
    background: #eb5037;
    display: block;
    margin: 0;
}

.section-title h3 {
    color: #ffffff;
    padding: 0.2em;
}

/* collapsing-section */
.js .collapsing-section {
    display: none;
}

.collapsing-section p {
    margin: 0;
}

/* sticky header testing */

/*** Styles for the main header ***/
/* #headerSection {
    background-color: transparent;
    z-index: 1001;
} */

/*** Styles for the sticky header ***/
/* #stickyContent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #E0461B;
} */